/*
img {
  max-width: 80%;
  height: auto;
}
*/

.banner {
  display: flex;
  justify-content: center;
  //justify-content: space-between;
  //font-size: 100%;
  //margin-right: 5%;
  //margin-left: 5%;
  max-width: 100%;
}

.face-block {
  margin-left: 2%;
  margin-right: 2%;
  font-size: 120%;
  max-width: 100%;
}

