
img {
  max-width: 100%;
  height: auto;
}

.banner {
  display: flex;
  //justify-content: center;
  justify-content: space-between;
  //font-size: 100%;
  margin-right: 3%;
  margin-left: 3%;
  max-width: 100%;
}

.face-block {
  font-size: 120%;
  max-width: 100%;
  margin-right: 3%;
  margin-left: 3%;
}

